@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styled */
.display-flex {
  display: flex;
}
/* dark02 */
.text-gray {
  color: #424242;
}
/* dark03 */
.text-light-gray {
  color: #727272;
}
.text-primary {
  color: #ff900e;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}

.btn-primary {
  background: #ff900e;
  color: white;
  border-radius: 0.5rem;
  font-weight: 500;
  padding: 20px 25px;
  font-size: 20px;
  border: none;
}

/* header  start*/
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

/* nav */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-weight: bold;
  font-size: 2.8rem;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3.1rem;
}
.banner-title {
  font-size: 4rem;
  font-weight: bold;
}
.banner-description {
  font-size: 16px;
  margin-bottom: 30px;
}
.banner-image {
  width: 100%;
  margin-bottom: 45px;
}
/* header end */

/* main start */
main {
  max-width: 1440px;
  margin: 0 auto;
}
/* team and features */
.teams {
  align-items: center;
  gap: 75px;
  margin-bottom: 130px;
}
.team-img-container {
  margin-top: 85px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding-left: 60px;
}
.our-features {
  max-width: 530px;
}

#quick-list {
  font-weight: 500;
}
/* facts related style */

.fact-description {
  max-width: 540px;
  margin-top: 0;
  margin-bottom: 100px;
  padding: 0;
}
.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 50px;
}
.fact-card {
  border: 1px solid #ff900e;
  border-radius: 0.5rem;
  width: 240px;
  height: 240px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.fact-number {
  color: #424242;
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.fact-name {
  margin: 0;
  padding-top: 8px;
  font-size: 20px;
  font-weight: 500;
}
/* sponsor related style */
.our-sponsor {
  margin-top: 180px;
  justify-content: center;
  flex-direction: column;
}
.sponsor-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  filter: grayscale(100%);
  text-align: center;
}

/* features relate style */
.features {
  gap: 140px;
  margin-top: 180px;
}
#title-section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.feature-card {
  padding: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}
.feature-card .feature-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
}
#experience-badge {
  padding: 42px 45px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;
}
#year {
  font-size: 4rem;
  font-weight: 700;
}

/* media query */
/* small device */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .features,
  .teams {
    flex-direction: column;
  }
  .team-img-container,
  .fact-container,
  .sponsor-companies {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 0px;
  }
  .fact-container {
    justify-items: center;
  }
  .our-features {
    text-align: center;
  }
  .sponsor-companies {
    justify-items: center;
    gap: 50px;
  }
  .featured-architect img {
    width: 100%;
  }
  #experience-badge {
    margin-top: 20px;
    margin-left: 20px;
  }
}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams,
  .features {
    flex-direction: column;
  }
  .team-img-container {
    padding-left: 0px;
  }

  .fact-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 0px;
    justify-items: center;
  }
  .sponsor-companies {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-items: center;
  }
  .featured-architect img {
    width: 100%;
  }
  #experience-badge {
    margin-top: 20px;
    margin-left: 20px;
  }
}
